body {
    text-align: center;
    padding-top: 20rem;
    background-color: #2f80ed;
}

blockquote p {
    padding: 15px;
    background:#b3e6f9;;
    border-radius: 5px;
    margin-left: 120px;
    margin-right: 120px;
} 

blockquote footer {
    margin-top: -20px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 15px;
    background:#b3e6f9;;
    border-radius: 5px;

} 


